body {
	background-color: #f3f2f1;
}

canvas {
	padding: 0;
	margin: auto;
  display: block;
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hidden {
	display: none;
}

#option-panel {
	position: fixed;
	right: 15px;
	bottom:15px;
	z-index: 1;
}

#option-toggle {
	background-color: #ffffff;
	border-radius: 3px;
	opacity: 0.75;
	position: fixed;
	z-index: 1;
	right: 35px;
	bottom: 35px;
	cursor: pointer;
}

.card {
	width: 18rem;
}
